{
    auto_https disable_redirects
}

{$DOMAIN} {
    tls {$TLS_EMAIL}

    handle /auth/* {
        reverse_proxy supabase-auth:9999
    }
    handle /rest/* {
        reverse_proxy supabase-rest:3000
    }
    handle /storage/* {
        reverse_proxy supabase-storage:5000
    }
    handle {
        reverse_proxy app:3000
    }

    encode gzip
}

# Доступ по IP до переключения DNS
:80 {
    handle /auth/* {
        reverse_proxy supabase-auth:9999
    }
    handle /rest/* {
        reverse_proxy supabase-rest:3000
    }
    handle /storage/* {
        reverse_proxy supabase-storage:5000
    }
    handle {
        reverse_proxy app:3000
    }

    encode gzip
}
